.logo{
    height: 5rem;
    width: 5rem;
    padding-top: 1rem;
}
.menuButton{
    font-family: "Raleway";
    text-transform: none;
    font-weight: 700;
    font-size: 1rem;
    min-width: 10;
    margin-left: 25px;
}
.donate{
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 25px;
    font-family: 'Pacifico';
    font-size: 1rem;
    text-transform: none;
    height: 45px;
    color:white;
}

.active {
    color: 'red';
  }